{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
      <div class="lg:w-full md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Verify OTP</h2>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %} 
          {% if message.tags == "success" %}
          <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4" role="alert">
            <p>{{ message }}</p>
          </div>
          {% elif message.tags == "info" %}
          <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4" role="alert">
            <p>{{ message }}</p>
          </div>
          {% elif message.tags == "warning" %}
          <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert">
            <p>{{ message }}</p>
          </div>
          {% elif message.tags == "error" %}
          <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert">
            <p>{{ message }}</p>
          </div>
          {% else %}
          <div class="bg-black-100 border-l-4 border-black-500 text-black-700 p-4" role="alert">
            <p>{{ message }}</p>
          </div>
          {% endif %} {% endfor %}
        </ul>
        {% endif %}
        <form action="{% url 'otpVerify' %}" method="POST">
          {% csrf_token %}
        <div class="relative mb-4">
          <input type="hidden" id="email" name="email" value="{{email}}" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" placeholder="Example@gmail.com">
        </div>
        <div class="relative mb-4">
          <label for="otp" class="leading-7 text-sm text-gray-600">Enter OTP</label>
          <input type="text" id="otp" name="otp" maxlength="4" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" placeholder="_ _ _ _">
        </div>
        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600">New password</label>
          <input type="password" id="npassword" name="npassword"class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" placeholder="********">
        </div>
        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600">Confirm password</label>
          <input type="password" id="cpassword" name="cpassword"  class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" placeholder="********">
        </div>
        <input type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" value="Submit">
      </form>
      </div>
    </div>
  </section>
</body>
</html>
